* @ag-ui-protocol/copilotkit

sdks/community/java @pascalwilbrink @ag-ui-protocol/copilotkit
docs/sdk/java @pascalwilbrink @ag-ui-protocol/copilotkit

sdks/community/kotlin @contextablemark @ag-ui-protocol/copilotkit
docs/sdk/kotlin @contextablemark @ag-ui-protocol/copilotkit

sdks/community/go @mattsp1290 @ag-ui-protocol/copilotkit
docs/sdk/go @mattsp1290 @ag-ui-protocol/copilotkit

sdks/community/dart @mattsp1290 @ag-ui-protocol/copilotkit
docs/sdk/dart @mattsp1290 @ag-ui-protocol/copilotkit

integrations/adk-middleware @contextablemark @ag-ui-protocol/copilotkit

integrations/agent-spec @sonleoracle @ag-ui-protocol/copilotkit
