minimum-release-age=1440
minimum-release-age-exclude[]=@ag-ui/langgraph
minimum-release-age-exclude[]=@ag-ui/a2ui-middleware
minimum-release-age-exclude[]=@ag-ui/a2ui-toolkit
minimum-release-age-exclude[]=@copilotkit/*
minimum-release-age-exclude[]=@ag-ui/*
minimum-release-age-exclude[]=@github/copilot-sdk@1.0.14
minimum-release-age-exclude[]=@github/copilot-sdk-darwin-arm64@1.0.14
minimum-release-age-exclude[]=@github/copilot-sdk-darwin-x64@1.0.14
minimum-release-age-exclude[]=@github/copilot-sdk-linux-arm64@1.0.14
minimum-release-age-exclude[]=@github/copilot-sdk-linux-x64@1.0.14
minimum-release-age-exclude[]=@github/copilot-sdk-linuxmusl-arm64@1.0.14
minimum-release-age-exclude[]=@github/copilot-sdk-linuxmusl-x64@1.0.14
minimum-release-age-exclude[]=@github/copilot-sdk-win32-arm64@1.0.14
minimum-release-age-exclude[]=@github/copilot-sdk-win32-x64@1.0.14
block-exotic-subdeps=true
